@model IPagedList<OrderViewModel>
@using PagedList;
@using PagedList.Mvc;
@using Task5.Web.Models;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Клиент
        </th>
        <th>
            Продукт
        </th>
        <th>
            Цена
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id, page = ViewBag.CurrentPage })<b>  </b>
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id, page = ViewBag.CurrentPage })
                    }
                </td>
            </tr>
        }
    }
</table>
<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Создать запись", "Create", new { page = ViewBag.CurrentPage })
    }
</p>
@if (Model != null)
{
    @Html.PagedListPager(Model, page => Url.Action("Sales", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { UpdateTargetId = "salesTable" }))
}
